{% extends "BlogApp/base.html"%}
{% block content %}
{% include "BlogApp/messages.html"%}

<div class="feed-page">
    <div class="category-container">
        <div class="category-bar">
            {% for Category in categories %}
            <input type="checkbox"class="category-btn" id="CategoryName" value="{{ Category.name }}" name="{{ Category.name }}" id="">
            
                <!-- <label class="category-btn" id="CategoryName">
                    
                    <span>{{ Category.name }}</span>  
                </label> -->
            {% endfor %}
        </div> 
    </div>

    <div class="feed-container">
        <h3>Feed </h3>
        {% for post in post %}
            <div class="card " id="postcontainer">
                <div class="card-header">
                    
                    {{post.author.username}}
                </div>
                <div class="card-body">
                    <p class="card-text">{{post.description}}</p>
                    {% if post.Category.all %}
                        {% for category in post.Category.all %}
                            <p >{{ category.name }}</p>
                        {% endfor %}
                    {% else %}
                        <p></p>
                    {% endif %}
                </div>
                <div class="card-footer">
                    <p>updated_at</p>{{post.updated_at}}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<script>
    CategoryName = document.getElementById("CategoryName")

    function updatepost(post){
        const postcontainer = get.getElementById("postcontainer")
        postcontainer.InnerHTML = '';

        posts.forEach(post => {
            postcontainer.InnerHTML = `
            <div class="card-header">
                    ${post.author}
                </div>
                <div class="card-body">
                    <p class="card-text">${post.description}</p>
                    <p> ${ category.name }</p>
                </div>
                <div class="card-footer">
                    <p>updated_at</p>${post.updated_at}
                </div>
                `
        });

    }
    function CategoryPostFeed(){
        fetch('categorypost/', {
            method :'POST',
            headers :{
                'Content-type':'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body : JSON.stringify({Category:CategoryName})
        })
        .then( response => response.json())
        .then(data =>{
            updatepost(data.post);
        })
    }
</script>
{% endblock%}